main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 200px 800px 200px 600px;
    margin: auto;
}

nav {
    background-color: rgb(57, 202, 241);
}

.hide {
    display: none;
}

ul li {
    list-style: none;
}

body {
    background-color: lightgreen;
}

#timer, #question {
    color: white;
    font-size: 40px;
}

ul li {
    padding: 20px;
}

#startpage {
    color: white;
    font-size: 25px;
}

#end-screen {
    color: white;
    font-size: 20px;
}

#results {
    color: white;
    font-size: 40px;
}